h4 {
    text-align: center;
    font-size: 40px;
}

.write {
    text-align: center;
}
legend {
    text-align: center;
}
.titleWrite {
    width:600px;
}
.subWrite {
    width: 600px;
    height: 400px;
}
button {
    text-align: center;
}
body {
    background-color: rgb(171, 200, 235);
}