h4 {
    text-align: center;
}

.write {
    text-align: center;
}
legend {
    text-align: center;
}
.titleWrite {
    width:600px;
}
.subWrite {
    width: 600px;
    height: 400px;
}
button {
    text-align: center;
}